[nix]
channel = "stable-25_05"
packages = ["cacert", "dbt", "libyaml", "python312Packages.dbt-bigquery@1.9.1", "which"]

[workflows]
runButton = "Build Project"

[[workflows.workflow]]
name = "Build Project"
author = 38059905
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dbt seed --full-refresh --vars '{\"load_source_data\": true}'"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dbt build"
