[nix]
channel = "stable-25_05"
packages = ["cacert", "git", "which"]

[workflows]
runButton = "Push to GitHub"

[[workflows.workflow]]
name = "Build Project"
author = 38059905
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dbt seed --full-refresh --vars '{\"load_source_data\": true}'"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dbt build"

[[workflows.workflow]]
name = "Push to GitHub"
author = 38059905
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git status"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Update from Replit\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push origin main"

[agent]
expertMode = true
